@font-face {
  font-family: 'TTNorms';
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/TTNorms/TTNorms-Regular.woff2") format('woff2');
}

@font-face {
  font-family: 'TTNorms';
  font-style: normal;
  font-weight: 500;
  src: url("../../fonts/TTNorms/TTNorms-Medium.woff2") format('woff2');
}

@font-face {
  font-family: 'TTNorms';
  font-style: normal;
  font-weight: 900;
  src: url("../../fonts/TTNorms/TTNorms-Bold.woff2") format('woff2');
}
