// colors
$colorWhite: #FFFFFF;
$colorBlack: #000000;
$colorBlue: #24A3FF;
$colorLime: #00FF00;
$colorCrimson: #f0145a;
$colorGrey: #E6E6F0;
$colorGrey2: #F5F5FA;
$colorGrey3: #B3B3BA;
$colorGrey4: #EDEDF7;
$colorDarkPurple: #323264;

// containers
$baseContainerWidth: 1320px;
$smallContainerWidth: 1092px;
$narrowContainerWidth: 906px;
$containerPadding: 20px;

// screenSizes
$screenLargeResolution: 1201px;
$screenMediumResolution: 769px;
$screenSmallResolution: 575px;
